<div class="dw-template-container">
    <adf-toolbar>
        <adf-toolbar-title>
            <apw-breadcrumbs></apw-breadcrumbs>
        </adf-toolbar-title>
        <div class="adf-toolbar--spacer"></div>
        <apw-breadcrumb-actions [selectedAction]="getBreadcrumbActionName()" (infoClick)="toggleDashboardSettings()"></apw-breadcrumb-actions>
    </adf-toolbar>

    <div class="dw-template-content-container" fxLayout="row">
        <div class="dw-template-content" fxHide.xs="{{showSidebar}}" fxFlex="'100% - {{sideBarWidth}}'">
            <apw-process-statistics *ngIf="reportQuery" [reportQuery]="reportQuery"></apw-process-statistics>
        </div>
        <div class="dw-template__sidebar" fxHide="{{!showSidebar}}" fxFlex.gt-xs="{{sideBarWidth}}">
            <apw-dashboard-settings [appId]="appId" (parameterChange)="onParameterChange($event)"></apw-dashboard-settings>
        </div>
    </div>
</div>
